__pycache__/
/__pycache__/
.idea/*
Papers/*
Notebooks/Examples/checkpoint.pth.tar
Notebooks/Examples/tmp
Notebooks/Examples/.ipynb_checkpoints/pytorch-example-1-checkpoint.ipynb
Notebooks/Examples/.ipynb_checkpoints/pytorch-example-2-checkpoint.ipynb
Notebooks/Examples/.ipynb_checkpoints/pytorch-example-3-checkpoint.ipynb
Notebooks/GCN/pygcn/*
Examples/*
*.ipynb_checkpoints*
